*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f3f6fb;
    padding:40px;
}

.container{
    max-width:1100px;
    margin:auto;
}

.card{
    background:#fff;
    border-radius:15px;
    padding:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.schedule-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

h1{
    color:#2563eb;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#2563eb;
    color:white;
    padding:14px;
    text-align:center;
}

td{
    padding:14px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f7f9fc;
}

.add-class{

    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:10px 18px;
    border-radius:8px;
    font-weight:500;
    transition:.3s;

}

.add-class:hover{

    background:#1d4ed8;

}

.edit-btn{

    background:#10b981;
    color:white;
    padding:8px 15px;
    border-radius:6px;
    text-decoration:none;
    margin-right:8px;

}

.edit-btn:hover{

    background:#059669;

}

.delete-btn{

    background:#ef4444;
    color:white;
    padding:8px 15px;
    border-radius:6px;
    text-decoration:none;

}

.delete-btn:hover{

    background:#dc2626;

}
label{

display:block;

margin-top:18px;

margin-bottom:8px;

font-weight:600;

}

input{

width:100%;

padding:12px;

border:1px solid #ccc;

border-radius:8px;

font-size:15px;

outline:none;

}

input:focus{

border-color:#2563eb;

}

.buttons{

margin-top:25px;

display:flex;

gap:15px;

}

.buttons button{

background:#2563eb;

color:white;

border:none;

padding:12px 22px;

border-radius:8px;

cursor:pointer;

font-size:15px;

}

.buttons button:hover{

background:#1d4ed8;

}

.buttons a{

background:#6b7280;

color:white;

text-decoration:none;

padding:12px 22px;

border-radius:8px;

}

.buttons a:hover{

background:#4b5563;

}