*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef2ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
width:500px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.15);
}

h1{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:15px;
font-weight:600;
}

input,
select{
width:100%;
padding:12px;
margin-top:5px;
border-radius:8px;
border:1px solid #ccc;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:25px;
}

button,
.buttons a{
padding:12px 22px;
text-decoration:none;
border:none;
border-radius:8px;
cursor:pointer;
background:#2563eb;
color:white;
}